<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
<title>CalculatorTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- General Meta Info -->
  <meta charset="utf-8" />
  <title>Expat Financial Services in Asia | Infinity Financial Solutions</title>
  <meta name="robots" content="All">
  <meta name="revisit-after" content="7 Days">
  <meta name="expires" content="never">

  <!-- Forces the latest IE rendering engine & Chrome frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

  <!-- Optimizes mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Icons -->
  <link rel="shortcut icon" href="http://www.infinitysolutions.com/wp-content/themes/infinity_v3/images/favicon.ico">
  <link rel="apple-touch-icon" href="http://www.infinitysolutions.com/wp-content/themes/infinity_v3/images/apple-touch-icon.png">

  <!-- CSS -->

  <!-- Google author -->
  <link rel="publisher" href="https://plus.google.com/111570478948501321743">

  <!-- JavaScript, rest at bottom for faster loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="http://www.infinitysolutions.com/wp-content/themes/infinity_v3/js/jquery-1.6.1.min.js"%3E%3C/script%3E'))</script>
  <script src="http://www.infinitysolutions.com/wp-content/themes/infinity_v2/js/plugins.js"></script>
  <script src="http://www.infinitysolutions.com/wp-content/themes/infinity_v2/js/scripts.js"></script>

  <!-- Typekit fonts -->
  <script type="text/javascript" src="http://use.typekit.com/bce0xaq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <style type="text/css">
    .wf-loading {visibility: hidden;}
  </style>

        <style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
</style>
<link rel='https://api.w.org/' href='http://www.infinitysolutions.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.infinitysolutions.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.infinitysolutions.com/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='http://www.infinitysolutions.com/' />
<link rel="alternate" type="application/json+oembed" href="http://www.infinitysolutions.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.infinitysolutions.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://www.infinitysolutions.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.infinitysolutions.com%2F&#038;format=xml" />

  </head>

<body>

<div class="container" id="style_home">
  <div id="header" class="grid_full">
  <div id="hat" class="grid6">
    <div id="client_login_form_wrapper">
      <div id="login_explanation">
        <h4>Welcome Back.</h4>

        <p>Existing clients can use these links to log in to the Infinity dashboard. Not a client? Why not <a href="http://www.infinitysolutions.com/contact">get in touch</a> to find out about our services.</p>
      </div>

      <div id="login_links">
        <a href="https://login.onpraemium.com" id="login_button">Login now</a>
      </div>
      <!--
      <form action="https://infinity.privemanagers.com/sly/externallogin" method="post" id="form1">
        <div id="client_username_wrapper" class="client_login_form_section">
          <label for="name">Login name</label>

          <input name="log" type="text" id="client_username">
        </div>

        <div id="client_password_wrapper" class="client_login_form_section">
          <label for="shazam">Password</label>

          <input name="shazam" type="password" id="client_password">
        </div>

        <div id="submit_wrapper">
          <input type="submit" value="Login">
        </div>

        <div id="forgot_password">
          <a href="http://infinity.privemanagers.com/#forgotPsw;externalReq=true" id="forgot_password_button">
            Forgot Password
          </a>
        </div>
      </form>
      -->

      <div class="clearfix"></div>
    </div>

    <span class="c_plus">+</span><span class="c_minus">-</span>
  </div>

        <div id="logo" class="grid2">
      <a href="http://www.infinitysolutions.com/">Infinity Global</a>
    </div>
  
  <div id="nav_main" class="grid4">
    <ul>
        <li><a href="/investment_calculator">Investment</a></li>
        <li><a href="/retirement_planner">Retirement</a></li>
        <li><a href="/education_calculator">Education</a></li>
        <li><a href="/apr2">APR</a></li>
        <li><a href="/mortgage">Mortgage</a></li>
        <li><a href="/insurance">Insurance</a></li>
        <li><a href="http://www.infinitysolutions.com/">Back to Main Site</a></li>
    </ul>
  </div>

  <span class="break"></span>

</div>

  <script type="text/javascript">
  $(window).load(function() {
    $('#homepage_banner').orbit({
      animation: 'horizontal-push',
      animationSpeed: 1000,
      advanceSpeed: 8000,
      pauseOnHover: true,
      startClockOnMouseOut: true,
      startClockOnMouseOutAfter: 10
    });
  });
  </script>

  <div class="clearfix"></div>


  <%=yield%>


  <div id="footer" class="grid_full">

    <span class="break"></span>

              <div id="about_infinity" class="grid2">
        <h4>About Infinity</h4>

        <p>We’re one of the leading financial services companies in Asia, and provide a unique brand of personalised financial solutions to clients across the region.</p>

        <p><a href="mailto:info@infinitysolutions.com">info@infinitysolutions.com</a></p>
      </div>

      <div id="advice_sites" class="grid1">
        <h4>Advice Sites</h4>

        <ul>
          <li><a href="http://qropsinasia.com/">QROPS</a></li>
          <li><a href="http://expatretirementplanning.com/">Retirement Planning</a></li>
          <li><a href="http://propertyinvestorabroad.com/">Property Investment</a></li>
          <li><a href="http://educationfeesasia.com/">Education Fees</a></li>
          <li><a href="http://medicalcoverasia.com/">Medical Cover</a></li>
          <li><a href="http://infinitysolutions.jp">Japanese Language Website</a></li>
        </ul>
      </div>

      <div id="local_sites" class="grid1">
        <!-- Removed for now -->
      </div>

      <div id="connect_with_infinity" class="grid2">
        <h4>Connect with Infinity</h4>

        <div id="social">
          <a href="http://twitter.com/investmentasia" class="twitter btn" target="_blank">
            <img src="http://blog.infinitysolutions.com/assets/twitter_white.png" alt="Twitter">
          </a>

          <a href="http://www.linkedin.com/company/infinity-financial-solutions" class="linkedin btn" target="_blank">
            <img src="http://blog.infinitysolutions.com/assets/linkedin_white.png" alt="Linkedin">
          </a>

          <a href="https://www.facebook.com/infinityfinancialsolutions" class="facebook btn" target="_blank">
            <img src="http://blog.infinitysolutions.com/assets/facebook_white.png" alt="Facebook">
          </a>

          <a href="https://plus.google.com/111570478948501321743" class="google btn" target="_blank">
            <img src="http://blog.infinitysolutions.com/assets/google_white.png" alt="Google">
          </a>

          <a href="https://confirmsubscription.com/h/i/B670B9B6277E703D" class="email btn" target="_blank">
            <img src="http://blog.infinitysolutions.com/assets/email_white.png" alt="Newsletter">
          </a>
        </div>

        <a href="http://blog.infinitysolutions.com" id="link_to_blog">
          <img src="http://www.infinitysolutions.com/wp-content/themes/infinity_v3/images/footer_blog.png">
        </a>
      </div>
    
    <span class="break"></span>

    <div id="copyright" class="grid3">
      <p>All content &copy; Infinity Financial Solutions Ltd 2017. All rights reserved.</p>
    </div>

    <div id="nav_bottom" class="grid3">
      <ul>
        <li><a href="http://www.infinitysolutions.com/wp-admin">Admin</a></li>
        <li><a href="http://www.infinitysolutions.com/team-tools">Team Tools</a></li>
        <li><a href="http://www.infinitysolutions.com/sitemap_index.xml">Site Map</a></li>
        <li><a href="http://www.infinitysolutions.com/case-studies">Case Studies</a></li>
        <li><a href="http://www.infinitysolutions.com/disclaimer">Disclaimer</a></li>
      </ul>
    </div>
  </div>

  <div class="clearfix"></div>

        <div class="disclaimer">
      <p class="heading">Restricted Access</p>

      <p>This Site and the Content are not directed at or intended for distribution to any person (or entity) who is a citizen or resident of Hong Kong (or located or established in) any other jurisdiction where the use of the Site would be contrary to applicable law or regulation or would subject Infinity Financial Solutions Limited to any registration or licensing requirement in such jurisdiction.</p>

      <p>Persons (or entity) who is a citizen or resident of Hong Kong please click on the link below to access our Hong Kong Site.</p>

      <p><a href="http://www.infinitysolutions.com.hk">www.infinitysolutions.com.hk</a></p>
    </div>
  
  <div id="rabbithole">
    <div id="footer_sleeve" >
      <div id="secret">
        <div id="secret_text">
          <p>If you have goals in life - whatever they may be - we believe that effective financial planning can help you to achieve them.

So, although financial planning might not seem very exciting, we are really positive about what we do.</p>
        </div>

        <div id="secret_spinner">
          <img src="http://www.infinitysolutions.com/wp-content/themes/infinity_v3/images/secret_spinner.png">
        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' src='http://www.infinitysolutions.com/wp-includes/js/wp-embed.min.js?ver=4.7.5'></script>

  <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24232670-1', 'auto');
      ga('send', 'pageview');
    </script>
  
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
